# Eclipse project files
.classpath
.factorypath
.project
.settings/

# Intellij project files
*.iml
.idea/

# sts
.springBeans

# maven
overlays/
target/

# Others
logs/
dlongLogs/
.svn/
/build/
/bin
.externalToolBuilders/
/target/
/target/
/target/
