<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  
 
 <property name="LOG_HOME" value="${catalina.home:-..}/logs"/>
 <property name="LOG_FILE" value="demo.log"/>
 
 <appender name="consoleAppender" class="ch.qos.logback.core.ConsoleAppender">
    <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
      <level>INFO</level>
    </filter>
    <encoder>
      <pattern>[%d{yyyy-MM-dd HH:mm:ss.SSS} %thread %-5level] %logger{36} - %msg%n</pattern>
      <charset>utf8</charset>
    </encoder>
  </appender>
  
  <appender name="errorFileAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
      <level>ERROR</level>
    </filter>
    <File>${LOG_HOME}/${LOG_FILE}-error.log</File>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <fileNamePattern>${LOG_HOME}/%d{yyyy-MM-dd}/${LOG_FILE}-error-%d{yyyy-MM-dd}-%i.gz</fileNamePattern>
      <maxHistory>20</maxHistory>
      <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
        <maxFileSize>10mb</maxFileSize>
      </timeBasedFileNamingAndTriggeringPolicy>
    </rollingPolicy>
    <encoder>
      <pattern>[%d{yyyy-MM-dd HH:mm:ss.SSS}] - %msg%n</pattern>
    </encoder>
  </appender>
  
  <root level="INFO">
    <appender-ref ref="errorFileAppender" />
    <appender-ref ref="consoleAppender" />
  </root>
  
</configuration>
